<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PING PONG-CHAMPION</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    
<body>
    <h1 style="text-align: center; color: blue;">Chào mừng bạn đến với PING PONG-CHAMPION!</h1>
    <p style="text-align: center;">Khám phá thông tin, đăng ký, và tham gia các giải đấu bóng bàn ngay hôm nay!</p>
    <div style="text-align: center;">
        <a href="/register" style="text-decoration: none; background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px;">Đăng ký ngay</a>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="/users" style="text-decoration: none; background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px;">Xem danh sách người dùng</a>
    </div>
    
</body>
</html>
